@inject AviorCrewMgtCore.Services.MenuMasterService menus
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-color:#d5e9f8; margin-top:0">
    <div style="margin-top:0; background-color:#e4e7e9">
        <img src="~/images/logo_header.jpg" alt="avior-logo-small" height:80px" />
    </div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="margin-bottom:0; background-color:#428bca; border-radius:0px">
            <div class="container">
                
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">

                        @if (User.Identity.IsAuthenticated)
                        {
                            var UserRoles = "";
                            if (@User.IsInRole("Admin"))
                            {
                                UserRoles = "Admin";
                            }
                            else
                            {
                                UserRoles = "Manager";
                            }

                            @if (menus.GetMenuMaster(@UserRoles).Any())
                            {
                                <li class="nav navbar-nav navbar-light"><a style="color:whitesmoke" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                                @if (menus.GetMenuMaster(@UserRoles).Any())
                                {
                                    @foreach (var menuNames in menus.GetMenuMaster(@UserRoles).Where
                                            (n => n.Parent_MenuID == "*"))
                                    {
                                        <li class="nav navbar-nav navbar-light">
                                            <a style="color:whitesmoke; padding-left:5px" asp-controller=@menuNames.MenuURL
                                               asp-action=@menuNames.MenuFileName>@menuNames.MenuName</a>
                                            <ul class="sub-menu">
                                                @foreach (var subMenu in menus.GetMenuMaster(@UserRoles).Where
                                                     (n => n.Parent_MenuID == @menuNames.MenuID))
                                                {
                                                    <li class="nav navbar-nav navbar-light">
                                                        <a style="color:whitesmoke; padding-left:5px" asp-area="" asp-controller=@subMenu.MenuURL
                                                           asp-action=@subMenu.MenuFileName>@subMenu.MenuName</a>
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - WebApplication1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

